.question-increment .dot {
  margin: 10px;
  height: 15px;
  width: 15px;
  background-color: rgb(252, 248, 248);
  border-radius: 50%;
  display: inline-block;
  font-size: 12px;
  line-height: 100%;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px #ccc;
}

.question-increment .content-counter {
  font-size: 12px;
  line-height: 100%;
  font-weight: 800;
}

.big-counter .dot {
  margin: 10px;
  height: 25px;
  width: 25px;
  background-color: rgb(252, 248, 248);
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  line-height: 100%;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px #ccc;
}

.counter-mb {
  display: none;
}

.big-counter .counter-mb {
  display: inline;
  padding-left: 3px;
  font-size: 12px !important;

}

.big-counter .content-counter {
  font-size: 25px;
  line-height: 100%;
  font-weight: 800;
}

.big-counter {
  text-align: center;
  padding-left: 0px !important;
}