body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: local('GT-Walsheim'), url(./assets/GT-Walsheim.otf) format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bt-btn {
  min-width: 40%;
  color: white;
  background-color: #5514B4;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(85, 20, 180, 0.2);

}

.bt-btn:hover {
  min-width: 40%;
  color: white;
  background-color: #5514B4;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(85, 20, 180, 0.4);

}

.sqCard {
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.sqCard-active {
  border-radius: 8px;
  border: 1px solid #5514B4;
  box-shadow: 0px 4px 20px rgba(85, 20, 180, 0.2);
}

.sqCard:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}


.bt-color {
  background-color: #e60050;
  color: #fff;
  border-color: #e60050;
}

.bt-color:hover {
  background-color: #f3095b;
  color: #fff;
  border-color: #e60050;
}

.SlideIn-appear {
  transform: translateX(30px);
  opacity: 0;
}

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);
  ;
  transition: all 0.6s linear;
}

.SlideIn-enter {
  opacity: 0;
  transform: translateX(30px);
}

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s linear 0.4s;
}

.SlideIn-leave {
  opacity: 1.0;
  transform: translateX(0);
}

.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateX(-30px);
  transition: all 0.2s linear;
}